:root {
  --button-blue: #1b71b2;
  --button-blue-hover: #199CFE;
  --button-green: #36AD47;
  --button-green-hover: #1ac933;
  --button-red: #cd4e38;
  --button-red-hover: #E33332;
}

html {
  width: 100%;
  height: 100%;
  background-color: black;
  user-select: none;
}

h1, h2, h3, h4, h5, h6, div, span, a {
  color: white;
}

#root {
  display: grid;
  grid-template-areas: 
  "header"
  "main";
  margin: 0px 20px;
}

/* Nav Bar Styling */

header {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: none;
  margin: 1em 0px;
  height: 7em;
  width: 100%;
  max-width: 1120px;
  grid-area: header;
  justify-self: center;
}

.logo {
  background-image: url("../images/templates.png");
  background-position: 0 -837px;
  background-repeat: no-repeat;
  display: block;
  height: 5.6em;
  width: 276px;
  align-self: center;
  justify-self: left;
  color: transparent;
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  font-size: 1.5rem;
  margin: 0px 0.5em;
  text-decoration: none;
}

.thrasher {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

/* Dummy Nav Styling */

.dummy {
  color: transparent;
  margin: 0px 1.5%;
}

.dummy:hover {
  cursor: pointer;
}

.dummy-form-container {
  display: inline;
  margin-left: 3%;
  position: relative;
  top: 2px;
}

.dummy-form {
  display: inline;
}

.dummy-input {
  border: 0px;
  height: 20.6px;
  position: relative;
  top: -4px;
  padding-bottom: 2px;
  padding-left: 5px;
  font-weight: bold;
  padding-top: 3px;
  font-size: 14px;
}

.dummy-input:focus {
  border: none;
  outline: none;
}

.dummy-label {
  background-image: url("../images/templates.png");
  background-position: -130px -196px;
  color: transparent;
  padding-right: 22px;
  padding-top: 4px;
  background-color: white;
}

.dummy-nav {
  justify-self: right;
  align-self: center;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

#mail {
  background-image: url("../images/templates.png");
  background-position: -273px -92px;
  width: 50px;
  height: 22px;
}

#facebook {
  background-image: url("../images/templates.png");
  background-position: -322px -48px;
  height: 22px;
  padding-right: 21px;
}

#instagram {
  background-image: url("../images/templates.png");
  background-position: -94px -253px;
  height: 22px;
  padding-right: 21px;
}

#twitter {
  background-image: url("../images/templates.png");
  background-position: -120px -253px;
  height: 22px;
  padding-right: 22px;
}

#youtube {
  background-image: url("../images/templates.png");
  background-position: -289px -70px;
  height: 22px;
  padding-right: 49px;
}

.sub-header {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: 60% 40%;
}

main {
  grid-area: main;
  display: grid;
}

/* Login & Signup page styling */

#login-form-container, #signup-form-container {
  background-image: url("../images/metal.jpg");
  justify-self: center;
  padding: 8px;
}

#login-form, #signup-form {
  border: 8px black solid;
  background-color: white;
  padding: 12px;
  display: grid;
  min-width: 600px;
}

#login-header-container {
  background-color: black;
  width: 100px;
  height: 30px;
  transform: skewX(-7deg);
  justify-self: center;
  margin: 1em 0px;
}

#login-header {
  position: relative;
  top: -2px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  transform: skewX(7deg);
  margin: 0px;
}

#signup-header-container {
  background-color: black;
  width: 115px;
  height: 30px;
  transform: skewX(-7deg);
  justify-self: center;
  margin: 1em 0px;
}

#signup-header {
  position: relative;
  top: -2px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  transform: skewX(7deg);
  margin: 0px;
}

.login-input-container, .signup-input-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
  justify-self: center;
}

.login-label, .signup-label {
  color: #666666;
  margin-top: 10px;
  margin-bottom: 6px;
  font-size: 0.85em;
}

.login-input, .signup-input {
  font-weight: bold;
  font-size: 14px;
  padding: 3px 3px 3px 10px;
}

.login-input:focus, .signup-input:focus {
  outline: none;
}

/* Button Styling */

.login-button-container, .signup-button-container {
  justify-self: center;
  margin-top: 36px;
  margin-bottom: 12px;
}

.button {
  width: 200px;
  padding: 12px 0px;
  border-radius: 20px;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.5px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  color: white;
}

.button:focus {
  outline: none;
}

.login-button {
  background-color: var(--button-blue);
  transition: background-color 0.2s ease-in-out;
}

.login-button:hover {
  background-color: var(--button-blue-hover);
}

.signup-button {
  background-color: var(--button-green);
  transition: background-color 0.2s ease-in-out;
}

.signup-button:hover {
  background-color: var(--button-green-hover);
}

#logout {
  font-size: 1.5rem;
  margin: 0px 0.5em;
  text-decoration: none;
  background-color: transparent;
  padding: 0px;
  border: none;
  position: relative;
  top: -6px;
  cursor: pointer;
}

#logout:active {
  outline: none;
}

/* Board index styling */

#boards-container, #posts-container {
  width: 100%;
  max-width: 1120px;
  justify-self: center;
  background-image: url("../images/metal.jpg");
}

#boards-sub-container, #posts-sub-container {
  margin: 8px;
  border: black 8px solid;
  padding: 12px;
  background-color: white;
  display: grid;
}

#boards-header-container {
  background-color: black;
  width: 125px;
  height: 34px;
  transform: skewX(-7deg);
  justify-self: center;
  margin-top: 1em;
  margin-bottom: 2em;
}

#boards-header {
  position: relative;
  top: -6px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  transform: skewX(7deg);
  margin: 0px;
  left: 1px;
}

#boards-list-container, #posts-list-container {
  background-color: black;
  margin-bottom: 1em;
}

.board-link, .post-link {
  text-decoration: none;
}

.board-text, .post-text {
  background-color: white;
  margin: 4px 4px;
}

.board-title, .post-title {
  margin: 0px;
  padding: 8px 0px 8px 20px;
  font-size: 24px;
  font-weight: 900;
  text-transform: capitalize;
  color: black;
}

.board-description {
  padding: 0px 0px 8px 20px;
  margin: 0px;
  font-size: 14px;
  color: #666666;
}

/* Posts index styling */

#posts-header-container {
  background-color: black;
  width: 110px;
  height: 34px;
  transform: skewX(-7deg);
  justify-self: center;
  margin-top: 1em;
  margin-bottom: 2em;
}

#posts-header {
  position: relative;
  top: -6px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  transform: skewX(7deg);
  margin: 0px;
  left: 1px;
}

.post-text {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.index-delete {
  width: 100px;
  position: relative;
  justify-self: end;
  top: 10px;
  right: 10px;
  height: 45px;
  width: 90px;
  background-color: var(--button-red);
}

.index-delete:hover {
  background-color: var(--button-red-hover);
}