html {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, div, span, a {
  color: white;
}

.logo {
  background-image: url("../images/templates.png");
  background-position: 0 -837px;
  background-repeat: no-repeat;
  display: block;
  height: 5.6em;
}

.background {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.nav {
  margin: 0px 1em;
  height: 4em;
  width: calc(100% - 2em);
}

.nav-link {
  font-size: 1.5rem;
  margin: 0px 0.5em;
  text-decoration: none;
}

.thrasher {
  font-family: 'Open Sans', sans-serif;
  color: white;
}